.FilesUpload,
.DropzoneWrapper {
  height: 100%;
}

.DropzoneWrapper > div {
  width: 100% !important;
  height: 100% !important;
  padding: 30px !important;
  border-width: 2px !important;
  border-color: #2c2d2f !important;
  border-style: solid !important;
  border-radius: 5px !important;
  box-sizing: border-box !important;
  cursor: pointer !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column;
}

.DropzoneWrapper > div p {
  margin: 0 !important;
}

.ProgressBar {
  margin-top: 30px;
  border: 2px solid #333;
  border-radius: 5px;
  width: 100%;
  height: 50px;
  display: block;
  position: relative;
  box-sizing: border-box;
}

.ProgressLine,
.Percentage {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
}

.ProgressLine {
  background-color: green;
}

.Percentage {
  right: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.NetInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.NetInfo > div {
  width: calc(50% - 15px);
}
