.XFiles {
  display: flex;
  height: 100%;
  padding: 15px 0;
}

.Left {
  flex: 7;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.ContentWrapper {
  height: calc(100% - 219px);
  margin-bottom: 19px;
}

.Right {
  flex: 2;
}
