.Footer {
  height: 78px;
  padding: 0 40px;
  font-size: 1.4rem;
}

.DataInfo {
  min-width: 400px;
}

.DataInfo > div:not(:last-of-type) {
  margin-right: 15px;
}

.DataInfo > div span {
  color: #e34530;
  text-align: center;
  margin-left: 7px;
  white-space: nowrap;
}
