/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import "~font-awesome/css/font-awesome.css";
@import url('https://fonts.googleapis.com/css?family=Aldrich');

/*
@font-face {
  font-family: Aldrich;
  src: url("assets/fonts/Aldrich/Aldrich-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Digital Counter 7";
  src: url("assets/fonts/digital_counter_7/digital_counter_7.ttf") format("truetype");
  font-style: oblique;
}

@font-face {
  font-family: "Digital Counter 7";
  src: url("assets/fonts/digital_counter_7/digital_counter_7_italic.ttf") format("truetype");
  font-style: italic;
}
*/

/* @import url('https://fonts.googleapis.com/css?family=Montserrat'); */

/* @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro'); */

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Aldrich', sans-serif;
  background-color: #05293a;
  color: white;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  font-size: 50px;
  font-weight: 200;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 15px;
  display: inline-block;
  vertical-align: middle !important;
  margin-top: 0;
}

h1 > b {
  font-weight: 600;
  letter-spacing: 1px;
}
