.FilesList {
  list-style: none;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.FilesList li {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.FilesList li > span {
  width: calc(65% / 3);
}

.FilesList li:first-of-type span {
  justify-content: center;
  text-align: center;
  color: initial;
}

.FilesList li > span:first-of-type,
.FilesList li > span:nth-of-type(2) {
  width: 15%;
}

.FilesList li > span:nth-of-type(3) {
  width: 5%;
}

.FilesList li > span button {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
}

.FilesList li > span:nth-of-type(4),
.FilesList li > span:nth-of-type(5) {
  padding-right: 15px;
}
