.BodyWrapper {
  display: flex;
}

.WaleltsInfo {
  width: 50%;
  box-sizing: border-box;
  border: 1px solid #333;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.WaleltsInfo p span {
  display: block;
  font-size: 14px;
  word-wrap: break-word;
}

.WalletOperations {
  width: 50%;
  display: block;
  padding: 0 15px;
  box-sizing: border-box;
}

@media (max-width: 1200px) {
  .WaleltsInfo {
    width: 300px;
  }

  .WalletOperations {
    width: calc(100% - 300px);
  }
}
