.ToggleControllersWrapper {
  border: 2px solid #2c2d2f;
  border-radius: 10px;
  padding: 40px;
  margin: 0 0 40px;
  height: 220px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ToggleWrapper {
  display: flex;
}

.ToggleWrapper > div {
  width: calc(100% / 3);
  display: inline-flex;
  align-items: center;
}

.Disclaimer {
  color: #515050;
  font-size: 16px;
}

.Disclaimer p {
  margin: 0;
  padding: 0;
  width: 100%;
}

.Disclaimer p > span {
  white-space: nowrap;
  color: inherit;
}

