/* main */
.container {
  width: 1333px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* geometric */
.w100 {
  box-sizing: border-box;
  width: 100%;
}

.h100 {
  box-sizing: border-box;
  height: 100%;
}

.wh100 {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.absolute100 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* flex boxes */
.flex {
  box-sizing: border-box;
  display: flex;
}

.flex1 {
  flex: 1;
}

.flex3 {
  flex: 3;
}

.flexColumn {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.justifyBetween {
  justify-content: space-between;
}

.alignStart {
  align-items: flex-start;
}

.justifyCenter {
  justify-content: center;
}

.flexAlignCenter {
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.flexBetween {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.flexBetweenCenter {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexAllCenter {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexColumnAllCenter {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexEndCenter {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* colors */
.blue {
  color: #2f96ba;
}

.blueBg {
  background-color: #2f96ba;
}

.white {
  color: white;
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* fonts */
.h3 {
  font-size: 1.4rem;
  font-family: 'Aldrich', sans-serif;
  font-weight: 400;
  margin-bottom: 7px;
}

.textUpper {
  text-transform: uppercase;
}

.textCenter {
  text-align: center;
}

/* common */
.objWithLeftDot {
  margin-left: 15px;
  position: relative;
}

.objWithLeftDot::before {
  content: '';
  display: inline-block;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: #999;
  position: absolute;
  left: -10px;
  bottom: calc(50% - 2.5px);
}

.transparentButton {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.emptyMessage {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.orangeBar {
  display: inline-block;
  width: 12px;
  height: 3px;
  margin-right: 7px;
  background-color: #e14737;
}

.threeDotsAtTheEnd {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.inputWithLine > input {
  background-color: transparent;
  height: 35px;
  padding: 0 15px;
  border: none;
  position: relative;
  color: #2f96ba;
  font-size: 1.4rem;
  font-weight: 400;
  outline: none;
  border-bottom: 1px solid #2f96ba;
  letter-spacing: 0.15rem;
}

.inputWithLine > input::placeholder {
  color: #2f96ba;
  font-size: 1.4rem;
  font-weight: 400;
}

.inputWithLine::before {
  content: '';
  display: inline-block;
  position: absolute;
  width: 7px;
  background-color: #33474d;
  top: 0;
  bottom: 3.5px;
  left: 0;
}

.dontTouchMe {
  pointer-events: none;
}

/* media queries */
@media (max-width: 1333px) {
  .container {
    width: calc(100% - 60px);
  }
}

@media (max-width: 767px) {
  .container {
    width: calc(100% - 30px);
  }
}