.NavigationItem a {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 42px;
  padding: 0 18px;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  outline: none;
  text-transform: uppercase;
  font-size: 16px;
  transition: color 0.2s linear;
  background-color: transparent;
  border: none;
  text-align: left;
  cursor: pointer;
}

.NavigationItem > a {
  color: #abb1b6;
  position: relative;
}

.NavigationItem > a::before {
  content: '';
  display: inline-block;
  width: 0;
  height: 7.5px;
  transition: all 0.2s linear;
  background-color: #32b3d3;
  position: absolute;
  left: 0;
  top: calc(50% - 3.75px);
}

.NavigationItem > a:hover,
.NavigationItem > a:active,
a.ActiveLink {
  color: #32b3d3;
}

.NavigationItem > a:hover::before,
.NavigationItem > a:active::before,
a.ActiveLink::before {
  width: 7.5px;
  left: 0;
}
